legacy-peer-deps =true
auto-install-peers=true

@guanghe:registry=https://npm.yc345.tv/
@guanghe-pub:registry=https://npm.yc345.tv/
registry=https://npm.yc345.tv/

//npm.yc345.tv/:_authToken="s82e3CDZw8LoefICGhCqImFdvIfqmK+eRfGi1YeOl8U="
