.box {
    padding: 60px 0;
    margin: 0 auto;
}

.padding-40-20-60-20 {
    padding: 40px 20px 60px;
}

.bg-white {
    background: #fff;
}

.font-white {
    color: #fff;
}

.font-000 {
    color: #000;
}

.font-262626 {
    color: #262626;
}

.h2 {
    font: 600 20px PingFangSC-Semibold, PingFang SC;
    line-height: 28px;
}

.h3 {
    font: 600 18px PingFangSC-Semibold, PingFang SC;
    color: #262626;
}

.h4 {
    font: 600 16px PingFang SC-Semibold, PingFang SC;
    line-height: 28px;
}

.fz-12 {
    font-size: 12px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20 {
    font-size: 20px;
}

.fz-26 {
    font-size: 26px;
}

.font-weight-500 {
    font-weight: 500;
}

.img-icon-24-24 {
    width: 24px;
    height: 24px;
}

.width-auto {
    width: 100%;
}

.position-relative {
    position: relative;
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.align-items__center {
    display: flex;
    align-items: center
}

.justify-content__center {
    justify-content: center;
}

.flex-direction__column {
    flex-direction: column;
}

.opacity-0-85 {
    opacity: 0.85
}

.margin-t-20 {
    margin-top: 20px;
}

.m-t-12 {
    margin-top: 12px;
}

.m-t-8 {
    margin-top: 8px;
}
.text-align__center {
    text-align: center;
}